<!DOCTYPE html> <!--文件型態-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子零件商城</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <meta charset="utf-8">
</head>
<body class="body">
    <h2>FINDSTOCK電子元件商城</h2>
    <div>搜尋</div>
    <span>首頁</span>
    <span>訂單</span>    
    <span>庫存</span>
    <span>BOM表</span>
    <span>聯繫我們</span>

    <span>會員中心<span>
    <span>購物車<span>

    <hr>

    </div>

         


    <script>
    </script>
</body>
</html>