<!DOCTYPE html> <!--文件型態-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子零件商城</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <meta charset="utf-8">
</head>
<body class="body">
    <div class="bodylist"></div>

    <hr class="hr">
    <a href="{{ url_for('static', filename='bom_template.xlsx') }}" download="bom_template.xlsx">下載模板(功能開發中)</a>
    <br>    
    <br>
    <input type="file" id="input"></br></br>
    <button onclick="">上傳</button></br>
    <hr>
    <div class="footer">
        <div>聯絡我們</div>
        <div>TEL: 02-26975001 #2027</div>
        <div>EMAIL: jason.lin@pteamtech.com</div>
        <div>LINE: rtyu73162</div>
        <div>LINE@報價機器人: @397xatre</div>
    </div>
    <script src="{{url_for('static', filename='page.js') }}"></script>
    <script src="{{url_for('static', filename='login.js') }}"></script>

         
    <script>

    </script>
</body>
</html>