<!DOCTYPE html> <!--文件型態-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子零件商城</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <meta charset="utf-8">
</head>
    <body class="body">
    <div class="bodylist"></div>
    <hr>
    <div class="contactus">
        <div class="contacttext">
            <div class="contactcontent">聯繫窗口: Jason.Lin</div>
            <div class="contactcontent">上班時間: 8:30~17:30</div>
            <div class="contactcontent">電話: 02-2697-5001</div>
            <div class="contactcontent">電話: 0920611135</div>
            <div class="contactcontent">信箱: jason.lin@pteamtech.com</div>
        </div>
        <hr>
        <div class="advice_line">
            <textarea class="advice" placeholder="網站優化建議"></textarea><span onmouseover="style.opacity=0.7" onmouseout="style.opacity=1" class="sendadvice" onclick="sendfeedback(event)">送出</span><br>
        </div>
        <div class="advice_line">
            <textarea class="advice" placeholder="電子料件需求"></textarea><span onmouseover="style.opacity=0.7" onmouseout="style.opacity=1" class="sendadvice" onclick="sendfeedback(event)">送出</span><br>
        </div>
        <div class="advice_line">
            <textarea class="advice" placeholder="其他合作提議"></textarea><span onmouseover="style.opacity=0.7" onmouseout="style.opacity=1" class="sendadvice" onclick="sendfeedback(event)">送出</span>
        </div>

    </div>
    <div></div>
    <div class="footer">
        <div>聯絡我們</div>
        <div>TEL: 02-26975001 #2027</div>
        <div>EMAIL: jason.lin@pteamtech.com</div>
        <div>LINE: rtyu73162</div>
        <div>LINE@報價機器人: @397xatre</div>
    </div>
    <script src="{{url_for('static', filename='page.js') }}"></script>
    <script src="{{url_for('static', filename='login.js') }}"></script>
    <script>
    function sendfeedback(){
        let token = localStorage.getItem("token");
                if (token == "null"){
                    alert("請先註冊或是留下聯絡資訊");
                    sign_in();
                }
                let button = event.target;
                let textarea = button.parentElement.querySelector('.advice');
                let adviceText = textarea.value;
                fetch("/api/feedbacktoDC",{
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    "content": adviceText,
                    "companyname": getsupplier()
                })
            })
            .then(response=>response.json())
            .then(data=>console.log(data))
            .catch(error=>{
                console.log(error);
            })
    }
    </script>

</body>
</html>