<!DOCTYPE html> <!--文件型態-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子零件商城</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <meta charset="utf-8">
</head>
<body class="body">
    <div class="bodylist"></div>
    <hr>
    <!--
    <div class="iteminfo">
        <div>產品資訊</div>
        <img class="product-img" src="../static/wehelp.jpg"></img>
        <div>產品規格</div>
        <div></div>
    </div>
    <hr>
    -->
    <div class="ptdata">
        <div class="productlist_title">自有庫存</div>
        <div></div>
        </hr>
    
    <div class="table_area">
    <table class="output_table" border="1">
        <thead>
            <tr>
                <th>更新日期</th>
                <th>產品編號</th>
                <th>製造商</th>
                <th>說明</th>
                <th>庫存數量</th>
                <th>數量/價格</th>
                <th>訂購</th>
            </tr>    
          </thead>
          <tbody class="tbody">
            <!--
            <tr>
              <td>2023-11-21</td>
              <td>55100-0670</td>
              <td>molex</td>
              <td>
                <div>倉庫地點: TW</div>
                <div>製造日期: 22+</div>
                <div>產地: US</div>
                <div>其他資訊: REEL</div>

              </td>
              <td>500</td>
              <td>
                <div>100 USD 0.5</div>
                <div>500 USD 0.4</div>
                <div>1000 USD 0.3</div>
              </td>
              <td>
                <span>數量  </span><input></input>
                <button>加入購物車</button>
              </td>

            </tr>
            
            <tr>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>5</td>
              <td>5</td>

            </tr>
            -->
            </tbody>
    </table>
    </div>
    </div>

    <hr>
    <div class="partnerdata">
        <div class="productlist_title">代理商庫存</div>
        <div>
          <div class="table_area">
            <table class="output_table" border="1">
                <thead>
                    <tr>
                        <th>更新日期</th>
                        <th>產品編號</th>
                        <th>製造商</th>
                        <th>說明</th>
                        <th>庫存數量</th>
                        <th>數量/價格</th>
                        <th>訂購</th>
                    </tr>    
                  </thead>
                  <tbody class="agenttbody">
                  </tbody>
            </table>
            </div>
        </div>

    </div>
    <hr>
    <div class="productlist_title">產品資料</div>
    <div class="productlist_title">產品照片參考:</div>
    <div class="productInfo">
      <div class="product-img"></div><br><br>
    </div>
    <div class="productlist_title">代理商圖片及連結:<span class="getAgentInfo" onclick="getproductinfo()">取得產品規格連結</span></div>

      <div class="productInfo">
      <span class="displayImageInfo"></span>
      <span class="displayProductInfo"></span>
    </div>
    <br><br>



    <div class="footer">
      <div>聯絡我們</div>
      <div>TEL: 02-26975001 #2027</div>
      <div>EMAIL: jason.lin@pteamtech.com</div>
      <div>LINE: rtyu73162</div>
      <div>LINE@報價機器人: @397xatre</div>
    </div>

    <script src="{{url_for('static', filename='page.js') }}"></script>
    <script src="{{url_for('static', filename='login.js') }}"></script>


  <script>
    function getImageInfo(){
      return new Promise((resolve, reject)=>{
      let currentPath = window.location.pathname;
      fetch("/api/image"+currentPath)
      .then(response=>response.json())
      .then(data=>{
        let imgContainer=document.querySelector(".product-img")
        imgContainer.innerHTML="";
        if(data.data.length>0){
        data.data.forEach(imgurl => {
          let imgElement = document.createElement('img');
          let basicUrl="https://findstock.s3.ap-southeast-2.amazonaws.com/"
          imgElement.src=basicUrl+imgurl;
          imgElement.className="productS3Img"
          imgContainer.appendChild(imgElement);
        });
      }else{
        imgContainer.innerHTML=`暫無參考圖片`;
      }
      resolve();
    })
      .catch(error=>{
        console.log(error);
        reject(error);
      })

    })}


      function getproductinfo(){
        let currentPath = window.location.pathname;
        fetch("/api/info"+currentPath)
        .then(response=>response.json())
        .then(data=>{
          let productinfo=data.data.data[0];
          console.log(productinfo);
          if (productinfo){
            //處理圖片
            let imgdisplay=document.querySelector(".displayImageInfo");
            if(productinfo.image_Link&&productinfo.image_Link!=="null"){
              let imgElement = document.createElement('img');
              imgElement.src = productinfo.image_Link;
              imgdisplay.appendChild(imgElement);
            }else{
              imgdisplay.innerHTML="沒有參考圖片";
            }
            
            //處理連結
            let productlink=document.querySelector(".displayProductInfo");
            if (productinfo.ProductDetail_Url&&productinfo.ProductDetail_Url!=="undefined"){
              productlink.innerHTML=`
              <a href="${productinfo.ProductDetail_Url}" target="_blank">產品規格連結資訊</a>
              `;
            }else{
              productlink.innerHTML="沒有參考連結";
            }} else {
              let imgdisplay=document.querySelector(".displayImageInfo");
              imgdisplay.innerHTML="沒有參考圖片 ";
              let productlink=document.querySelector(".displayProductInfo");
              productlink.innerHTML="沒有參考連結";
            }
          })
        .catch(error=>{
          console.log("something error",error);
        })

      }


      function getbreakprice(itemid){
        let demandqty=parseInt(document.querySelectorAll(".demand_qty")[itemid].value);
        let priceBreakData = document.querySelectorAll(".pricebreak_data")[itemid];
        console.log(demandqty);
        console.log(priceBreakData);

        let breakQtys = priceBreakData.querySelectorAll(".break_qty");
        let breakPrices = priceBreakData.querySelectorAll(".break_price");

        let breakPrice = "請洽業務";

        for (let i = 0; i < breakQtys.length; i++) {
        let breakQtyValue = parseInt(breakQtys[i].textContent, 10);
        let priceValue = breakPrices[i].textContent;
        if (demandqty >= breakQtyValue) {
            breakPrice = priceValue;
        }
      }

        return breakPrice
      }

      function addItemtoRFQ(button){
        checkLogin_list();
        let companyname=getsupplier();
        let itemid=button.id;
        console.log(itemid);
        let price=getbreakprice(itemid);
        let pn= document.querySelectorAll(".searchresult_pn")[itemid].textContent;
        let qty= document.querySelectorAll(".demand_qty")[itemid].value;
        let mfr= document.querySelectorAll(".searchresult_mfr")[itemid].textContent;
        let remark= document.querySelectorAll(".searchresult_remark")[itemid].textContent;
        let addbody={
          "company_name": companyname,
          "pn": pn,
          "mfr": mfr,
          "qty": qty,
          "remarks": remark,
          "price": price
        };
        fetch("/api/rfq",{
                method: "POST",
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(addbody)
            })
            .then(response=>response.json())
            .then(data=>{
                console.log(data.message);
                alert("新增完成，"+"產品編號: "+pn+"，金額: "+price);
            })
            .catch(error=>{
                console.log("something error",error);
            }) 
        }
  


      
      let row_id=0;
      window.addEventListener('load', ()=>{
        
        search().then(()=>{
          agentLoad();
        }).then(()=>{
          getImageInfo();
        })
      });



  </script>
</body>
</html>