<!DOCTYPE html> <!--文件型態-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子零件商城</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <meta charset="utf-8">
</head>
<body class="body">
    <div class="bodylist"></div>
    <hr class="hr">
    <div class="rfqbg">
        <div class="rfqfunc">

            <span class="rfq_title">新增詢價料號</span><br><br>
            <div class="insert_line">
                <input class="addpn" placeholder="請輸入產品編號"></input>
                <input class="addmfr" placeholder="請輸入製造商"></input>
                <input class="addqty" placeholder="請輸入數量"></input>

                <button onclick="add_rfq()" class="send_rfq" onmouseover="style.opacity=0.7" onmouseout="style.opacity=1">新增</button><br><br>
            </div>
        </div>
    </div>
    <hr class="hr">

    <div class="rfqbg">
        <div class="rfqfunc">
            <span class="rfq_title">詢價清單</span><br><br>
            <button onclick="deleteALL_rfq()" class="clear_rfq" onmouseover="style.opacity=0.7" onmouseout="style.opacity=1">清空詢價單</button><br><br>
            <div class="order_area">
                <table border="1">
                    <thead>
                        <tr>
                            <th>項次</th>
                            <th>製造商</th>
                            <th>產品編號</th>
                            <th>需求數量</th>
                            <th>建議價格</th>
                            <th>修改備註</th>
                            <th>備註</th>
                            <th>修改</th>
                        </tr>    
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                </table>
                </div>
                <hr class="hr">
                <div class="rfq_line">
                    <span class="rfq_title" >發送詢價單</span><span class="send_rfq"onclick="sendrfq()" onmouseover="style.opacity=0.7" onmouseout="style.opacity=1">送出</span>
                </div>
        </div>
    </div>
        <hr class="hr">

        <div class="footer">
            <div>聯絡我們</div>
            <div>TEL: 02-26975001 #2027</div>
            <div>EMAIL: jason.lin@pteamtech.com</div>
            <div>LINE: rtyu73162</div>
            <div>LINE@報價機器人: @397xatre</div>
        </div>

    <script src="{{url_for('static', filename='page.js') }}"></script>
    <script src="{{url_for('static', filename='login.js') }}"></script>
    <script>
        function sendrfq(){
            let tableRows = document.querySelectorAll('.tbody tr');
            let dataToSend = [];
            tableRows.forEach(row => {
                let cells = row.querySelectorAll('td');
                let rowData = {
                    itemid: cells[0].textContent,
                    mfr: cells[1].textContent,
                    pn: cells[2].textContent,
                    qty: cells[3].textContent,
                    price: cells[4].textContent,
                    remark: cells[6].textContent,
                };
                dataToSend.push(rowData);
            });
            console.log(dataToSend);
            fetch("/api/rfqtoDC",{
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    "content": dataToSend,
                    "companyname": getsupplier()
                })
            })
            .then(response=>response.json())
            .then(data=>console.log(data))
            .catch(error=>{
                console.log("something error",error)
            });
            alert("已發送詢價單，請等待報價");
            deleteALL_rfq();
            update_rfqlist();
        }

        function update_rfqlist(){
            checkLogin();
            
            let companyname=getsupplier();
            fetch("/api/rfq?companyname="+encodeURIComponent(companyname))
            .then(response=>response.json())
            .then(data=>{
                let tbody=document.querySelector(".tbody");
                tbody.innerHTML="";
                data.response.forEach(item => {
                    let row = tbody.insertRow();
                    let cell_1=row.insertCell(0);
                    cell_1.textContent=item.itemcount;
                    let cell_2=row.insertCell(1);
                    cell_2.textContent=item.mfr;
                    let cell_3=row.insertCell(2);
                    cell_3.textContent=item.pn;
                    let cell_4=row.insertCell(3);
                    cell_4.textContent=item.qty;
                    let cell_5=row.insertCell(4);
                    cell_5.textContent=item.suggest_price;
                    let cell_6=row.insertCell(5);
                    cell_6.innerHTML=`<input placeholder="請輸入備註"></input><button>送出</button>`;
                    cell_6.id=item.rfq_id;
                    let cell_7=row.insertCell(6);
                    cell_7.textContent=item.remarks;
                    let cell_8=row.insertCell(7);
                    cell_8.innerHTML="<button>刪除</button>";
                    cell_8.id=item.rfq_id;
                    cell_8.onclick=()=>delete_rfq(item.rfq_id);
                });
            })
            .catch(error=>{
                console.log("something error",error);
            })
        }

        function add_rfq(){
            let companyname=getsupplier();
            let pn = document.querySelector(".addpn").value
            let mfr = document.querySelector(".addmfr").value
            let qty = document.querySelector(".addqty").value

            let addbody={
                "company_name": companyname,
                "pn": pn,
                "mfr": mfr,
                "qty": qty
            };
            console.log(addbody);

            fetch("/api/rfq",{
                method: "POST",
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(addbody)
            })
            .then(response=>response.json())
            .then(data=>{
                console.log(data.message);
                alert("新增完成");
                update_rfqlist();
            })
            .catch(error=>{
                console.log("something error",error);
            })
        }

        function delete_rfq(id) {
            fetch("/api/rfq/" + id, {
                method: "DELETE"
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                alert("刪除成功");
                window.location.reload();
                })
            .catch(error => {
                console.log("Error deleting record", error);
            });
        }

        function deleteALL_rfq() {
            let companyname=getsupplier();
            fetch("/api/rfq?companyname="+encodeURIComponent(companyname),{
                method: "DELETE",
                headers: {
                'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                alert("已經清空購物車");
                window.location.reload();
                })
            .catch(error => {
                console.log("Error deleting record", error);
            });
        }


        window.addEventListener('load', update_rfqlist);


    </script>
</body>
</html>